{% extends "layout/basic.html" %}
{% load static %}


{% block title %}Благодарим за заказ!{% endblock %}

{% block content %}


    <div class="best_burgers_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Благодарим за заказ!</span>

                    </div>


      <p>Ваш заказ успешно создан. Номер Вашего заказа
        <strong>{{ order.id }}</strong>.</p>






            </div>
        </div>
        </div>
        </div>


{% endblock %}





